In [4]:
# Creating a list
p=[1,2,3,4,5]

In [29]:
print("original List",p)

original List [10, 3, 4, 5, 6]

In [6]:
#Adding an element to the list
p.append(6)

In [7]:
print("list after adding 6:",p)

list after adding 6: [1, 2, 3, 4, 5, 6]

In [8]:
#Removing an element from the list
p.remove(2)

In [9]:
print("List after removing 2:",p)

List after removing 2: [1, 3, 4, 5, 6]

In [12]:
#Modifying an element in the list
p[0] = 10

In [13]:
print("List after modifying the first element to 10:",p)

List after modifying the first element to 10: [10, 3, 4, 5, 6]

In [14]:
#Creating a dictionary
di= {'name': 'pavan','age':19,'city':'banglor'}
print("original Dictionary:",di)

original Dictionary: {'name': 'pavan', 'age': 19, 'city': 'banglor'}

In [18]:
#Adding a key-value pair to the dictionary
di['email'] = 'pavan55555@gmail.com'
print("Dictionary after adding email:",di)

Dictionary after adding email: {'name': 'pavan', 'age': 19, 'city': 'banglor', 'email': 'pavan55555@gmail.com'}

In [19]:
#Removing the key-value pair to the dictionary
del di['age']
print("Dictionary after removing age:",di)

Dictionary after removing age: {'name': 'pavan', 'city': 'banglor', 'email': 'pavan55555@gmail.com'}

In [23]:
#Modifying a value in the dictionary
di['city']='kadiri'
print("Dictionary after modifying city to kadiri:",di)

Dictionary after modifying city to kadiri: {'name': 'pavan', 'city': 'kadiri', 'email': 'pavan55555@gmail.com'}

In [24]:
#Creating a set
set={1,2,3,4,5,6}
print("original set",set)

original set {1, 2, 3, 4, 5, 6}

In [25]:
# Adding an element to the set
set.add(7)
print("Set after adding 7:", set)

Set after adding 7: {1, 2, 3, 4, 5, 6, 7}

In [26]:
# Removing an element from the set
set.discard(2)
print("set after removing2:",set)

set after removing2: {1, 3, 4, 5, 6, 7}

In [27]:
# The set will not accept duplicate values
set.add(3)
print("Set after trying to add duplicate 3:",set)

Set after trying to add duplicate 3: {1, 3, 4, 5, 6, 7}